%ul.peeps__items
  - if @tweets.present?
    - @tweets.each do |tweet|
      %li.contents
        = tweet.user.nickname
        .contents__text
          = simple_format(tweet.comment)
        - if tweet.images.attached?
          - tweet.images.each do |image|
            = image_tag image.variant(resize: "150x150")
        %i.far.fa-comment.contents__icon 
        %i.far.fa-heart.contents__icon 1
        - if user_signed_in? && current_user.id == tweet.user_id
          = link_to '', "/tweet/#{tweet.id}", method: :delete, class: :'far fa-trash-alt deletebtn contents__icon '
          = link_to '', "/tweet/#{tweet.id}/edit", metod: :get, class: :'far fa-edit editbtn contents__icon'