.global-nav
  .global-nav__inner
    .gloval-nav__inner__container
      = link_to '', '#', class: :'fas fa-burn icon__main'

      %div.left-nav
        %ul.left-nav__inner
          %li.left-nav__inner__home
            = link_to 'HOME', '#', class: :'fas fa-home left-nav__home'
          %li.left-nav__inner__mypage
            = link_to 'MY PAGE', '#', class: :'fas fa-user-cog left-nav__mypage'

      %div.right-nav
        = form_with url: '', method: :get, local: :true do |f|
          = f.text_field :submit, placeholder: 'search peep',class: :'search-form fas fa-search'
        %ul.right-nav__peep
          %li.right-nav__peep__btn
            = link_to 'peep', '#', class: :'right-nav__peep__btn__icon'

.page-outer.clearfix
  .page-container.clearfix
    .dashboard-left
      .dashboard-left__profile
        .dashboard-left__profile__top
          %i.fa.fa-user-circle.fa-4x.profile-main-icon
        .dashboard-left__profile__bottom SUKE@駆け出し
        %ul.bottom
          %li.bottom__content 
            %span.bottom__content__stats Peep
            %span.bottom__content__stats__number 49
          %li.bottom__content 
            %span.bottom__content__stats Followers
            %span.bottom__content__stats__number 49
          %li.bottom__content 
            %span.bottom__content__stats Following
            %span.bottom__content__stats__number 49

      .main
        .main__contents
          .main__contents__container
            .peeps
              %ol.peeps__items
                %li.peeps__items__main
                  .peeps__items__main__contents
                    .contents
                      .contents__name Yusuke
                      .contents__text
                        %p こんにちはーーー
                      .contents__footer
                        .contents__footer__items
                          %span.contents__footer__items__icon
                            %i.far.fa-comment
                          %span.contents__footer__items__icon
                            %i.far.fa-heart 1