- if flash[:notice]
  %p.flash
    = flash[:notice]
= render 'peep/header'

.page-outer.clearfix
  .page-container.clearfix
    .dashboard-left
      .dashboard-left__profile
        .dashboard-left__profile__top
          %i.fa.fa-user-circle.fa-4x.profile-main-icon
        .dashboard-left__profile__bottom 
          - if user_signed_in?
            = current_user.nickname
          - else
            = '未ログイン'
        %ul.bottom
          %li.bottom__content 
            %span.bottom__content__stats Peep
            %span.bottom__content__stats__number 49
          %li.bottom__content 
            %span.bottom__content__stats Followers
            %span.bottom__content__stats__number 49
          %li.bottom__content 
            %span.bottom__content__stats Following
            %span.bottom__content__stats__number 49

    %ul.peeps__items
      - @tweets.each do |tweet|
        %li.contents
          = tweet.user.nickname
          .contents__text
            = tweet.comment
          %i.far.fa-comment
          %i.far.fa-heart 1